---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
    <Hamburger />
    <nav>
        <Navigation />
    </nav>
</header>

<script>
    import "../scripts/menu.js";
</script>